#h80_wp_cart {
	background-color: aliceblue;
	padding:14px;
}
.h80_price {
	font-size:1.5em;
}
.h80_purchase .button {
   float: right;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white !important ;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.h80_purchase .button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.h80_purchase .button:active {
   color: white;
   border-top-color: #1b435e;
   background: #1b435e;
   }